body {
    background-color: peachpuff;
    color: cadetblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

p{
    color: teal ;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p2{
    color: thistle;
    font-size: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}